@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,400;1,700&display=swap');


form{
    margin: 0;
    font-family: 'noto sans', sans-serif;
    
}

.main-cadastro{
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.left-cadastro{
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-cadastro  h1{
    color: #77ffc0;
    font-size: 3vw;
}

.left-image-cadastro{
    width: 20vw;
    

}

.rigth-cadastro{
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cadastro{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-cadastro , h1{
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.texfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px ;
}

.texfield ,  input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.texfield , label{
    color: #f0ffffde;
    margin-bottom:10px;
}

.texfield  input::placeholder{
    color: #f0ffff94;
}


.texfield , select{
  border-radius: 10px;
  padding: 5px;
  

}

.btn-cadastro{
    width:100%;
    padding: 16px 0px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    letter-spacing:3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow:  0px 10px 40px -12px ;    
}

@media only screen and (max-width: 950px){
    .card-cadastro{
        width: 85%;
    }
}

@media only screen and (max-width:740px) {
    .main-cadastro{
        flex-direction: column;
    }
    .left-cadastro, h1{
        display: none;
    }
    .left-cadastro{
        width: 100%;
        height: auto;
    }

    .rigth-cadastro{
        width: 100%;
        height: auto;
    }

    .left-image-cadastro{
        width: 50vw;
    }

    .card-cadastro{
     width: 90%;
    }
    
}